/* button style */

@media screen and (max-width:400px){
    .wrapper h1{
        font-size: 23px;
    }
    .wrapper p{
        font-size: 16px;
    }
    .card-results {
       
        margin: 35rem auto 2rem auto;
    }
    .MuiTabs-flexContainer{
       
        grid-template-columns: repeat(1,1fr)!important;
    }
    .tabs-right{
        flex-direction: column;
        justify-content: center;
        padding:unset!important;
        gap: 10px;
        margin-bottom: 10px;
    }
    .tabs-right h2{
        font-size: 19px;
    }
    .round-trip span {
       
        padding-top: 0px;
    }
    .tabs-right .options{
        justify-content:center;
        margin-right: unset!important;
        padding:unset!important;
        margin-top: 10px;
    }
    .passenger{
        padding:unset!important;
        justify-content: center;
    }
}
@media screen and (max-width:600px){
    .hero-section .first-section{
        padding: 8rem 2.5rem;
    }
    .first-section h1{
font-size: 30px;
    }
    .first-section p{
        font-size: 22px;
    }
    .date-btn-group{
        flex-direction: column;
    }
    .date-pick{
        width: 100%!important;
    }
    button{
        width:100%;
        margin-top: 20px;
    }
    .MuiCard-root{
        max-width: 100%!important;
    }
    .wrapper{
        text-align: left;
    }

    /* tabs */
    .MuiTabs-flexContainer{
        display: grid!important;
        grid-template-columns: repeat(3,1fr);
    }
    /* .tabs-right{
        padding-left: 20px;
    } */
   
   
}
@media screen and (min-width:400px) and (max-width:599px){
   
    .wrapper h1{
        font-size: 25px;
    }
    .wrapper p{
        font-size: 16px;
    }
    .card-results {
       
        margin: 23rem auto 2rem auto;
    }
    .tabs-right h2{
        font-size: 19px;
    
    }
    .round-trip span {
       
        padding-top: 0px;
    }
}
@media screen and (min-width:600px) and (max-width:719px){
    .wrapper h1{
        font-size: 39px;
    }
    .wrapper p{
        font-size: 17px;
    }
    .card-results {
       
        margin: 31rem auto 2rem auto;
    }
}

@media screen and  (max-width:900px){
    .all-tabs{
        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        /* flex-direction: column!important; */
    }
    .tabs-right{
        padding-left: 23px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: flex-start;
    }
}

@media screen and (min-width:720px) and (max-width:900px){
    .wrapper h1{
        font-size: 40px;
    }
    .wrapper p{
        font-size: 17px;
    }
    .card-results {
       
        margin: 24rem auto 2rem auto;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {
    .card-results {
       
        margin: 12rem auto 2rem auto;
    }
    .tabs-right{
        padding-right: 30px;
        justify-content: end;
    }
    
}
@media screen and (min-width:1200px){
.tabs-right{
    padding-right: unset;
    padding-left: 130px;
}
}