*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --main-color:'white';
    --secondary-color:'gray';
}

.center{
    text-align: center;
}

/* search btn */

button{
    background: #1976d2;
    color: var(--main-color);
    font-size: 22px;
    padding: 13px 29px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}


